In [2]:
from pathlib import Path

import numpy as np
import pandas as pd
# DATA_PATH = Path.cwd().parent / "ML project" 
pd.set_option("display.max_columns", 100)
from sklearn.metrics import f1_score

In [3]:
train_df = pd.read_csv(
     "./train.csv", 
    index_col="tripid"
)

train_df['label'] = train_df['label'].map({"correct":1, "incorrect":0})
train_df_cols = train_df.columns.values
li = list(train_df_cols)
features_df = train_df[li[0:-1]]
labels_df = train_df[li[-1]]
# features_df

In [4]:
train_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
tripid,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,1
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,1
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,1
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,1
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,1
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,1
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,1
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,1
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,1

In [6]:
wdf = train_df.loc[train_df['label'] == 0]

In [7]:
wdf

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
tripid,,,,,,,,,,,,,
189135814,10.5,26.0,19.0,0.0000,73.0,11/1/2019 7:27,11/1/2019 7:27,7.00355,79.8819,7.13279,79.8868,694.37,0
189140969,10.5,31.0,20.0,0.0000,130.0,11/1/2019 7:42,11/1/2019 7:42,6.90871,79.8978,6.91368,79.8572,235.59,0
189147041,10.5,1260.0,30.0,0.0000,9.0,11/1/2019 7:44,11/1/2019 8:05,7.12626,79.9817,7.12290,79.9687,111.21,0
189157607,10.5,2956.0,1686.0,97.4508,29.0,11/1/2019 8:40,11/1/2019 9:21,6.92109,79.8547,6.94120,79.8588,NaN,0
189160756,10.5,358.0,66.0,0.0000,79.0,11/1/2019 8:51,11/1/2019 8:57,6.05858,80.2003,6.05566,80.1810,210.58,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213674502,NaN,NaN,NaN,NaN,NaN,1/31/2020 16:46,1/31/2020 17:59,6.87969,79.8597,6.97458,79.9380,NaN,0
213689462,40.5,4310.0,1314.0,75.9492,469.0,1/31/2020 17:22,1/31/2020 18:34,6.91819,79.8627,6.83700,79.8947,902.02,0
213703973,40.5,913.0,445.0,0.0000,47.0,1/31/2020 17:39,1/31/2020 17:54,7.29842,80.6363,7.30808,80.6399,534.00,0
213758346,NaN,NaN,NaN,NaN,NaN,1/31/2020 19:42,1/31/2020 20:43,6.93046,79.8903,6.91713,79.8910,NaN,0
213795752,40.5,1859.0,1856.0,108.2048,298.0,1/31/2020 21:22,1/31/2020 21:53,7.31843,80.6249,7.31851,80.6249,208.70,0

In [8]:
wdf.describe()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
count,1532.000000,1532.000000,1532.000000,1532.000000,1532.000000,1681.000000,1681.000000,1681.000000,1681.000000,1544.000000,1681.0
mean,26.574315,4614.772193,3374.953655,184.741223,162.035248,6.984207,80.026255,6.983281,80.030669,664.197850,0.0
std,327.442067,23343.932057,23479.451049,1355.278955,387.843442,0.209452,0.272577,0.212082,0.271807,1656.131599,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,5.955910,79.838500,5.998940,79.819900,0.000000,0.0
25%,10.500000,471.750000,30.000000,0.000000,40.000000,6.872650,79.869400,6.868330,79.872600,136.272500,0.0
50%,10.500000,1108.000000,147.000000,0.000000,94.000000,6.919960,79.899800,6.921520,79.905300,388.375000,0.0
75%,10.500000,2516.500000,586.500000,17.466575,181.000000,7.081670,79.973100,7.082210,79.983200,652.967500,0.0
max,12795.030000,442190.000000,435308.000000,25098.436200,11722.000000,7.500680,80.722500,7.591890,80.751100,26098.750000,0.0

In [16]:
t1 = train_df.loc[(train_df['meter_waiting_till_pickup'] != 0) & (train_df['meter_waiting_fare'] == 0) ]

In [10]:
train_df.loc[train_df['duration'] == 442190.000000]

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
tripid,,,,,,,,,,,,,
195593822,10.5,442190.0,431741.0,24954.6298,7.0,11/28/2019 12:36,12/3/2019 15:26,6.89518,79.853,6.92415,79.8628,26098.75,0

In [18]:
t1.describe()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
count,8233.000000,8233.000000,8233.000000,8233.0,8233.000000,8233.000000,8233.000000,8233.000000,8233.000000,8233.000000,8233.000000
mean,12.842038,1040.747480,127.862990,0.0,121.653225,6.959475,79.989019,6.960442,79.989210,265.097776,0.894206
std,11.082909,841.439021,201.610176,0.0,602.950430,0.206114,0.231955,0.205296,0.232558,222.116149,0.307592
min,0.000000,0.000000,0.000000,0.0,1.000000,5.944630,79.821600,5.941860,79.818400,0.000000,0.000000
25%,10.500000,481.000000,20.000000,0.0,35.000000,6.863300,79.870500,6.866580,79.868900,122.600000,1.000000
50%,10.500000,834.000000,64.000000,0.0,79.000000,6.913190,79.898700,6.915320,79.897800,201.600000,1.000000
75%,10.500000,1389.000000,167.000000,0.0,147.000000,7.027770,79.953700,7.027360,79.955300,340.470000,1.000000
max,221.000000,16757.000000,7095.000000,0.0,51288.000000,8.051010,80.901600,8.064930,80.892600,6185.320000,1.000000

In [19]:
train_df.loc[train_df['meter_waiting_till_pickup'] == 51288.000000]

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
tripid,,,,,,,,,,,,,
191056435,10.5,80.0,80.0,0.0,51288.0,11/10/2019 9:59,11/10/2019 10:01,7.03001,79.9214,7.04234,79.9142,60.5,1

In [21]:
from math import sin, cos, sqrt, atan2, radians
def calculate_distance(**kwargs):
    R = 6373.0

    lat1 = radians(kwargs['pick_lat'])
    lon1 = radians(kwargs['pick_lon'])
    lat2 = radians(kwargs['drop_lat'])
    lon2 = radians(kwargs['drop_lon'])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return R * c

In [23]:
train_df['distance'] = [calculate_distance(**train_df[['pick_lat', 'pick_lon', 'drop_lat', 'drop_lon']].iloc[i].to_dict()) for i in range(train_df.shape[0])]

In [24]:
train_df['avg_speed'] = (train_df['distance']).div(train_df['duration'])*3600

In [25]:
train_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label,distance,avg_speed
tripid,,,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,1,5.094369,21.990081
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,1,3.169052,14.422993
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,1,6.307375,20.889189
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,1,0.862217,5.190602
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,1,8.150340,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,1,2.106037,9.047412
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,1,10.871789,18.195463
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,1,1.045847,14.315772
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,1,2.879981,12.083835
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,1,2.116539,29.082220

In [27]:
train_df['avg_speed'].value_counts().nlargest(n=30)

0.000000       37
6.111809        2
13.781945       2
3.171206        2
inf             2
13.262777       1
10.065050       1
13.529965       1
7.914944        1
0.092838        1
17.910579       1
0.045127        1
8.673508        1
13.092932       1
13.839678       1
2.782486        1
2.893078        1
18.952012       1
28.209416       1
1100.167605     1
13.454508       1
8.951896        1
13.171485       1
3.689769        1
8.566904        1
10.592229       1
19.475203       1
11.406942       1
6.647171        1
12.041029       1
Name: avg_speed, dtype: int64

In [28]:
train_df.loc[train_df['avg_speed'] == np.inf]

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label,distance,avg_speed
tripid,,,,,,,,,,,,,,,
193653017,0.0,0.0,0.0,0.0,540.0,11/21/2019 15:57,11/21/2019 16:23,6.90471,79.8520,6.90457,79.8519,0.0,0,0.019090,inf
213112837,0.0,0.0,0.0,0.0,973.0,1/29/2020 20:00,1/29/2020 20:23,6.85275,79.9391,6.84612,79.9428,0.0,0,0.843091,inf

In [29]:
train_df.loc[train_df['avg_speed'] == 0]

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label,distance,avg_speed
tripid,,,,,,,,,,,,,,,
189302363,5.0,86.0,83.0,4.83890,0.0,11/1/2019 19:15,11/1/2019 19:16,6.97711,79.9305,6.97711,79.9305,64.83,1,0.0,0.0
189312263,10.5,287.0,286.0,1.15600,8.0,11/1/2019 20:18,11/1/2019 20:23,6.91174,79.8504,6.91174,79.8504,71.39,0,0.0,0.0
190189406,10.5,1958.0,834.0,48.62220,133.0,11/6/2019 12:27,11/6/2019 12:59,6.86394,79.8945,6.86394,79.8945,233.89,1,0.0,0.0
190236017,5.0,27.0,10.0,0.58300,0.0,11/6/2019 16:58,11/6/2019 16:58,6.86559,80.0131,6.86559,80.0131,60.58,1,0.0,0.0
191410959,5.0,38.0,32.0,1.86560,0.0,11/12/2019 10:03,11/12/2019 10:04,6.84075,79.9983,6.84075,79.9983,61.86,1,0.0,0.0
191465398,5.0,30.0,23.0,1.34090,0.0,11/12/2019 18:25,11/12/2019 18:25,6.86519,79.8844,6.86519,79.8844,61.34,1,0.0,0.0
193054532,5.0,25.0,19.0,1.10770,0.0,11/19/2019 12:00,11/19/2019 12:00,6.93398,80.0083,6.93398,80.0083,61.10,1,0.0,0.0
194228713,10.5,917.0,26.0,0.00000,171.0,11/22/2019 21:43,11/22/2019 21:58,6.93583,79.9108,6.93583,79.9108,60.50,0,0.0,0.0
195271934,5.0,33.0,26.0,1.51580,0.0,11/26/2019 20:58,11/26/2019 20:58,6.84826,79.9254,6.84826,79.9254,61.51,1,0.0,0.0
195345823,5.0,43.0,42.0,2.44860,0.0,11/27/2019 11:05,11/27/2019 11:06,7.49137,80.3490,7.49137,80.3490,62.44,1,0.0,0.0
197127571,10.5,4676.0,1947.0,112.53660,81.0,12/2/2019 8:12,12/2/2019 9:30,6.91276,79.8503,6.91276,79.8503,748.13,1,0.0,0.0
197487513,10.5,1181.0,300.0,17.49000,79.0,12/3/2019 19:46,12/3/2019 20:06,7.04321,79.9015,7.04321,79.9015,145.78,1,0.0,0.0
200674501,5.0,39.0,36.0,2.09880,0.0,12/14/2019 12:38,12/14/2019 12:39,6.83541,79.9387,6.83541,79.9387,62.09,1,0.0,0.0
200908537,10.5,3579.0,2353.0,137.17990,275.0,12/15/2019 12:01,12/15/2019 13:00,6.90058,79.9366,6.90058,79.9366,383.44,1,0.0,0.0
201215403,10.5,1185.0,290.0,16.76200,15.0,12/16/2019 15:36,12/16/2019 15:55,6.89105,79.9881,6.89105,79.9881,152.71,1,0.0,0.0
201290947,5.0,33.0,30.0,1.74900,0.0,12/16/2019 18:59,12/16/2019 19:00,7.09616,79.8798,7.09616,79.8798,61.74,1,0.0,0.0
202771469,5.0,1380.0,416.0,24.25280,0.0,12/21/2019 8:35,12/21/2019 8:58,6.04316,80.2221,6.04316,80.2221,240.93,1,0.0,0.0
203105551,10.5,989.0,610.0,35.30235,97.0,12/22/2019 15:19,12/22/2019 15:36,6.77892,79.8826,6.77892,79.8826,120.65,1,0.0,0.0
203277398,5.0,31.0,26.0,1.51580,0.0,12/23/2019 9:56,12/23/2019 9:56,6.89151,79.8561,6.89151,79.8561,61.51,1,0.0,0.0
203603559,5.0,253.0,251.0,14.63330,0.0,12/24/2019 8:04,12/24/2019 8:08,7.13149,79.8784,7.13149,79.8784,74.63,1,0.0,0.0
203787054,5.0,98.0,96.0,5.59680,0.0,12/24/2019 18:09,12/24/2019 18:10,6.93987,79.8682,6.93987,79.8682,65.59,1,0.0,0.0
205040120,40.5,1066.0,393.0,22.71540,76.0,12/30/2019 9:39,12/30/2019 9:57,6.87895,79.8685,6.87895,79.8685,248.40,1,0.0,0.0
206628547,5.0,36.0,33.0,1.92390,0.0,1/3/2020 4:20,1/3/2020 4:21,6.94447,79.8672,6.94447,79.8672,61.92,1,0.0,0.0
206749004,10.5,57.0,4.0,0.00000,38.0,1/3/2020 16:02,1/3/2020 16:03,6.91908,79.8502,6.91908,79.8502,60.50,0,0.0,0.0
206834432,5.0,1869.0,1866.0,108.78780,0.0,1/3/2020 18:35,1/3/2020 19:06,7.20779,79.8782,7.20779,79.8782,168.78,1,0.0,0.0
206944632,5.0,39.0,36.0,2.09880,0.0,1/4/2020 11:52,1/4/2020 11:52,6.93407,79.8489,6.93407,79.8489,62.09,1,0.0,0.0
209275438,5.0,25.0,23.0,1.34090,0.0,1/13/2020 15:27,1/13/2020 15:28,6.87530,79.8867,6.87530,79.8867,61.34,1,0.0,0.0
209278669,5.0,28.0,26.0,1.51580,0.0,1/13/2020 15:38,1/13/2020 15:38,6.75848,79.8983,6.75848,79.8983,61.51,1,0.0,0.0
209384097,55.0,33.0,32.0,1.86560,0.0,1/13/2020 19:38,1/13/2020 19:38,7.09378,79.9944,7.09378,79.9944,111.86,1,0.0,0.0
209830570,25.0,170.0,169.0,9.85270,0.0,1/15/2020 9:39,1/15/2020 9:42,6.86863,79.8728,6.86863,79.8728,89.85,1,0.0,0.0
209833884,10.5,1373.0,447.0,26.06010,34.0,1/15/2020 10:12,1/15/2020 10:35,6.05389,80.2101,6.05389,80.2101,208.57,1,0.0,0.0
210610650,10.5,1276.0,192.0,11.19360,70.0,1/18/2020 13:27,1/18/2020 13:49,6.86940,79.8699,6.86940,79.8699,171.36,1,0.0,0.0
211651673,10.5,1287.0,353.0,20.40340,7.0,1/23/2020 12:47,1/23/2020 13:08,6.86554,79.8773,6.86554,79.8773,220.73,1,0.0,0.0
212078793,5.0,36.0,0.0,0.00000,0.0,1/25/2020 8:59,1/25/2020 9:00,6.98726,79.9038,6.98726,79.9038,60.00,1,0.0,0.0
212098932,10.5,1546.0,440.0,25.65200,82.0,1/25/2020 11:03,1/25/2020 11:29,6.98390,79.8951,6.98390,79.8951,218.55,1,0.0,0.0
213295007,10.5,2431.0,820.0,47.80600,62.0,1/30/2020 14:50,1/30/2020 15:30,6.82556,79.8699,6.82556,79.8699,435.24,1,0.0,0.0
213427800,5.0,37.0,35.0,2.04050,0.0,1/30/2020 20:30,1/30/2020 20:31,6.79762,79.9302,6.79762,79.9302,62.04,1,0.0,0.0

In [30]:
train_df.loc[train_df['avg_speed'] > 40]

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label,distance,avg_speed
tripid,,,,,,,,,,,,,,,
189135814,10.5,26.0,19.0,0.0000,73.0,11/1/2019 7:27,11/1/2019 7:27,7.00355,79.8819,7.13279,79.8868,694.37,0,14.385516,1991.840629
189140969,10.5,31.0,20.0,0.0000,130.0,11/1/2019 7:42,11/1/2019 7:42,6.90871,79.8978,6.91368,79.8572,235.59,0,4.517073,524.563291
189255640,10.5,38.0,20.0,0.0000,73.0,11/1/2019 17:53,11/1/2019 17:54,6.91850,79.8508,6.84020,79.9762,764.69,0,16.358894,1549.789984
189326852,10.5,41.0,35.0,0.0000,81.0,11/1/2019 22:57,11/1/2019 22:57,6.86980,79.9130,6.85362,79.9857,394.62,1,8.227731,722.434898
189387360,10.5,33.0,20.0,0.0000,209.0,11/2/2019 13:02,11/2/2019 13:02,6.95363,80.0031,6.99523,80.0167,239.48,0,4.864691,530.693563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213522555,10.5,25.0,21.0,0.0000,247.0,1/31/2020 11:12,1/31/2020 11:12,6.91783,79.8597,6.93134,79.8439,119.05,0,2.302569,331.569936
213596343,10.5,29.0,15.0,0.8745,25.0,1/31/2020 13:43,1/31/2020 13:44,6.79995,79.9013,6.80608,79.8997,71.37,1,0.704367,87.438616
213593706,10.5,43.0,40.0,0.0000,147.0,1/31/2020 13:48,1/31/2020 13:48,6.89520,79.9238,6.90538,79.9117,96.51,0,1.751399,146.628736
213615015,10.5,35.0,32.0,1.8656,45.0,1/31/2020 14:27,1/31/2020 14:27,7.20583,79.8488,7.20940,79.8494,62.36,0,0.402573,41.407468
213679658,10.5,39.0,36.0,2.0988,42.0,1/31/2020 16:59,1/31/2020 17:00,6.80208,79.9407,6.80454,79.9256,72.59,1,1.690042,156.003854

In [31]:
def calculate_plain_distance(**kwargs):

    lat1 = radians(kwargs['pick_lat'])
    lon1 = radians(kwargs['pick_lon'])
    lat2 = radians(kwargs['drop_lat'])
    lon2 = radians(kwargs['drop_lon'])

    dlon = (lon2 - lon1)**2
    dlat = (lat2 - lat1)**2
   
    d = dlon + dlat
    sd = sqrt(d)
    return sd

In [32]:
train_df['plain_distance'] = [calculate_plain_distance(**train_df[['pick_lat', 'pick_lon', 'drop_lat', 'drop_lon']].iloc[i].to_dict()) for i in range(train_df.shape[0])]

In [33]:
train_df['avg_speed2'] = (train_df['plain_distance']).div(train_df['duration'])*3600

In [34]:
train_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label,distance,avg_speed,plain_distance,avg_speed2
tripid,,,,,,,,,,,,,,,,,
189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,1,5.094369,21.990081,0.000801,0.003456
189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,1,3.169052,14.422993,0.000497,0.002264
189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,1,6.307375,20.889189,0.000995,0.003296
189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,1,0.862217,5.190602,0.000136,0.000820
189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,1,8.150340,NaN,0.001287,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,1,2.106037,9.047412,0.000333,0.001431
213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,1,10.871789,18.195463,0.001716,0.002872
213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,1,1.045847,14.315772,0.000164,0.002247
213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,1,2.879981,12.083835,0.000455,0.001908
213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,1,2.116539,29.082220,0.000334,0.004594