In [28]:
import pandas as pd
pd.set_option('display.max_columns', None)
X_df = pd.read_csv('./train.csv')
X_df.head()
df = pd.DataFrame(X_df)

In [4]:
X_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17176 entries, 0 to 17175
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tripid                     17176 non-null  int64
 1   additional_fare            16974 non-null  float64
 2   duration                   16974 non-null  float64
 3   meter_waiting              16974 non-null  float64
 4   meter_waiting_fare         16974 non-null  float64
 5   meter_waiting_till_pickup  16974 non-null  float64
 6   pickup_time                17176 non-null  object
 7   drop_time                  17176 non-null  object
 8   pick_lat                   17176 non-null  float64
 9   pick_lon                   17176 non-null  float64
 10  drop_lat                   17176 non-null  float64
 11  drop_lon                   17176 non-null  float64
 12  fare                       17039 non-null  float64
 13  label                      17176 non-null  object
dtypes: float64(10), int64(1), object(3)
memory usage: 1.8+ MB

In [2]:
import pandas as pd
dfObj = pd.DataFrame(columns = ['pick_lat'])

In [3]:
print("Original Dataframe" , dfObj, sep='\n')

Original Dataframe
Empty DataFrame
Columns: [pick_lat]
Index: []

In [4]:
import pandas as pd
pd.set_option('display.max_columns', None)
X_df = pd.read_csv('./train.csv')
X_df.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [5]:
dfObj = pd.DataFrame(columns = ['pick_lat'])

In [6]:
print("Original Dataframe" , dfObj, sep='\n')

Original Dataframe
Empty DataFrame
Columns: [pick_lat]
Index: []

In [8]:

null_columns=X_df.columns[X_df.isnull().any()]
X_df[null_columns].isnull().sum()

additional_fare              202
duration                     202
meter_waiting                202
meter_waiting_fare           202
meter_waiting_till_pickup    202
fare                         137
dtype: int64

In [9]:
print(X_df[X_df.isnull().any(axis=1)][null_columns].head())

    additional_fare  duration  meter_waiting  meter_waiting_fare  \
4               NaN       NaN            NaN                 NaN
20             10.5    2956.0         1686.0             97.4508
30             10.5    3549.0         2689.0            146.9854
31              NaN       NaN            NaN                 NaN
91              NaN       NaN            NaN                 NaN

    meter_waiting_till_pickup    fare
4                         NaN  358.39
20                       29.0     NaN
30                       69.0     NaN
31                        NaN     NaN
91                        NaN  196.50

In [23]:
from math import sin, cos, sqrt, atan2, radians
def calculate_distance(lat1, lon1, lat2, lon2):
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return R * c

In [29]:
df = pd.DataFrame(X_df)
df['distance'] = [calculate_distance(**df[['pick_lat', 'pick_lon', 'drop_lat', 'drop_lon']].iloc[i].to_dict()) for i in range(df.shape[0])]

TypeError: calculate_distance() got an unexpected keyword argument 'pick_lat'